<layout>
    <box>
        <row>
            <cap>z-views Documentations</cap>
        </row>
        <row>
            <info>z-views will parse and inject html pages.</info>
        </row>
    </box>
    <template src="/global/docs"></template>

</layout>


<script>

    var zhttp = {
        init: () => {
            docs.init([
                ['install', 'A simple npm install', 'npm install z-views'],
                ['start', 'A basic start', docs.to.text('code[start]')],
                ['example', 'A simple example for rendering "example page"',  docs.to.text('div[example]'), { hideResults: true }],
                ['copy / paste', 'You can wrap any html block you like, and paste this in other places on page', docs.to.text('div[copy]'), { hideResults: true }],
                ['loop', 'Will loop through an injected list and repeat inner html as needed', docs.to.text('div[loop]'), { hideResults: true }],
                ['template', 'load a template with a src => _root/views/ is the default root path', docs.to.text('code[template]'), { hideResults: true }],
                ['if', 'an "if" statement for a conditional render/unrender of an element', docs.to.text('div[if]'), { hideResults: true }],
                ['if else', 'an "if / else" statement for a conditional render/unrender of an element', docs.to.text('div[ifelse]'), { hideResults: true }],
                ['conditions', 'rendering a value/attribute based on condition', docs.to.text('div[conditions]'), { hideResults: true }]
            ])
        }
    }
    core.init.await(zhttp.init);
</script>



<ghost>

    <code start>
        var zview = require('z-views');

        /*
            template => string, the name of the file you want to load (must be located on the _root_/views folder );
            data => object, the values you want to inject to html page
            callback => function, a callback function. return html content
        */
        zview.render(template, data, callback);
    </code>

   <div example>
        <code>
            //on route
            zview.render('example', {
                headline: 'This is a headline',
                info: 'This is a simple info'
            }, callback);
        </code>
        
        <code>
            //on html page -- located in _root_/views/example.html
            <headline>\{\{headline\}\}</headline>
            <info>\{\{info\}\}</info>
        </code>
        
        <code>
            //rendered page
            <headline>{{headline}}</headline>
            <info>{{info}}</info>
        </code>
   </div>


   <div copy>
        <code>
            //on html page -- add a "copy" tag and inside add what ever html you like
            //set name of the copy as an attribute (Ex: 'example')
    
            <_copy example>
                <info>this tag will be copied</info>
            </_copy>
        </code>
        
        <code>
            //now you can add "paste" tag with and name of the copy as an attribute as much as you like
            <_paste example></_paste>
            <_paste example></_paste>
            <_paste example></_paste>
            <_paste example></_paste>
        </code>
        
        <code>
            //result 
    
            <copy example>
                <info>this tag will be copied</info>
            </copy>
    
            <paste example></paste>
            <paste example></paste>
            <paste example></paste>
            <paste example></paste>
        </code>
   </div>

    <div loop>
        <code>
            //on route

            var list = [
                { name: 'person 1', age: '36' },
                { name: 'person 2', age: '21' },
                { name: 'person 3', age: '45' }
            ]

            zview.render('example', {
                headline: 'This is a headline',
                info: 'This is a simple info',
                list: list
            }, callback);
        </code>
    
        <code>
            //on html page -- located in _root_/views/example.html
            <headline>\{\{headline\}\}</headline>
            <info>\{\{info\}\}</info>

            <rows>
                <_loop list>
                    <row>
                        <line>
                            <title>\{\{name\}\}</title>
                            <info>\{\{age\}\}</info>
                        </line>
                    </row>
                </_loop>
            </rows>
        </code>
    
        <code>
            //on html page -- located in _root_/views/example.html
            <headline>{{headline}}</headline>
            <info>{{info}}</info>

            <rows>
                <loop list>
                    <row>
                        <line>
                            <title>{{name}}</title>
                            <info>{{age}}</info>
                        </line>
                    </row>
                </loop>
            </rows>
        </code>
    </div>


    <code template>
        <_template src="/global/docs"></_template>
    </code>

    <div if>
        <code>
            //on the html view, add an if statement

            <_if cond_="show">
                <titla>show this</titla>
            </_if>

            <_if cond_="!hide">
                <titla>show this as well</titla>
            </_if>
        </code>
        <code>
            //on route
            
            zview.render('example', {
                show: true,
                hide: false
            }, callback);
        </code>
        <code>
            //rendered page
            <if cond="show">
                <titla>show this</titla>
            </if>
            
            <if cond="!hide">
                <titla>show this as well</titla>
            </if>
        </code>
    </div>

    <div ifelse>
        <code>
                //on the html view, add an if statement
    
                <_if cond_="show">
                    <then>
                        <titla>show this</titla>
                    </then>
                    <else>
                        <titla>show the other</titla>
                    </else>
                </_if>
    
                <_if cond_="hide">
                    <then>
                        <titla>show this</titla>
                    </then>
                    <else>
                        <titla>show the other instead</titla>
                    </else>
                </_if>
            </code>
        <code>
                //on route
                
                zview.render('example', {
                    show: true,
                    hide: false
                }, callback);
            </code>
        <code>
                //rendered page
                <if cond_="show">
                    <then>
                        <titla>show this</titla>
                    </then>
                    <else>
                        <titla>show the other</titla>
                    </else>
                </if>
                
                <if cond_="hide">
                    <then>
                        <titla>show this</titla>
                    </then>
                    <else>
                        <titla>show the other instead</titla>
                    </else>
                </if>
        </code>
    </div>


    <div conditions>
        <code>
            //on the html view, add condition (attention! you need to add "data.#parameter" when adding condition)

            <row>
                <info>this is a conditioned value, set to \{$\{data.show ? 'SHOW' : 'hide'\}\}</info>
                <info>this is a conditioned value, set to \{$\{data.hide ? 'HIDE' : 'show'\}\}</info>
            </row>
            <row>
                <tab class="\{$\{data.show ? 'selected' : ''\}\}">selected tab</tab>
                <tab class="\{$\{data.hide ? 'selected' : ''\}\}">un selected tab</tab>
            </row>
        </code>
        <code>
            //on route
            
            zview.render('example', {
                show: true,
                hide: false
            }, callback);
        </code>
        <code clean>
            //rendered page
            <row>
                <info>this is a conditioned value, set to {${data.show ? 'SHOW' : 'hide'}}</info>
                <info>this is a conditioned value, set to {${data.hide ? 'HIDE' : 'show'}}</info>
            </row>
            <row>
                <tab class="{${data.show ? 'selected' : ''}}">selected tab</tab>
                <tab class="{${data.hide ? 'selected' : ''}}">un selected tab</tab>
            </row>
        </code>
    </div>

</ghost>