<layout>
    <box>
        <row>
            <cap>z-views Documentations</cap>
        </row>
        <row>
            <info>z-views will parse and inject html pages.</info>
        </row>
    </box>
    <template src="/global/docs"></template>

</layout>


<script>

    var zhttp = {
        init: () => {
            docs.init([
                ['install', 'A simple npm install', 'npm install z-views'],
                ['start', 'A basic start', $('code[start]')[0].innerHTML],
                ['example', 'A simple example for rendering "example page"', [$('code[example]')[0].innerHTML, $('code[example]')[1].innerHTML, $('code[example]')[2].innerHTML], { hideResults: true }],
                ['copy / paste', 'You can wrap any html block you like, and paste this in other places on page', [$('code[copy]')[0].innerHTML, $('code[copy]')[1].innerHTML, $('code[copy]')[2].innerHTML], { hideResults: true }],
                ['loop', 'Will loop through an injected list and repeat inner html as needed', [$('code[loop]')[0].innerHTML, $('code[loop]')[1].innerHTML, $('code[loop]')[2].innerHTML], { hideResults: true }],
                ['template', 'load a template with a src => _root/views/ is the default root path', $('code[template]')[0].innerHTML, { hideResults: true }],
            ])
        }
    }
    core.init.await(zhttp.init);
</script>



<ghost>

    <code start>
        var zview = require('z-views');

        /*
            template => string, the name of the file you want to load (must be located on the _root_/views folder );
            data => object, the values you want to inject to html page
            callback => function, a callback function. return html content
        */
        zview.render(template, data, callback);
    </code>

   <div>
        <code example>
            //on route
            zview.render('example', {
                headline: 'This is a headline',
                info: 'This is a simple info'
            }, callback);
        </code>
        
        <code example>
            //on html page -- located in _root_/views/example.html
            <headline>\{\{headline\}\}</headline>
            <info>\{\{info\}\}</info>
        </code>
        
        <code example>
            //rendered page
            <headline>{{headline}}</headline>
            <info>{{info}}</info>
        </code>
   </div>


   <div>
        <code copy>
            //on html page -- add a "copy" tag and inside add what ever html you like
            //set name of the copy as an attribute (Ex: 'example')
    
            <_copy example>
                <info>this tag will be copied</info>
            </_copy>
        </code>
        
        <code copy>
            //now you can add "paste" tag with and name of the copy as an attribute as much as you like
            <_paste example></_paste>
            <_paste example></_paste>
            <_paste example></_paste>
            <_paste example></_paste>
        </code>
        
        <code copy>
            //result 
    
            <copy example>
                <info>this tag will be copied</info>
            </copy>
    
            <paste example></paste>
            <paste example></paste>
            <paste example></paste>
            <paste example></paste>
        </code>
   </div>

    <div>
        <code loop>
            //on route

            var list = [
                { name: 'person 1', age: '36' },
                { name: 'person 2', age: '21' },
                { name: 'person 3', age: '45' }
            ]

            zview.render('example', {
                headline: 'This is a headline',
                info: 'This is a simple info',
                list: list
            }, callback);
        </code>
    
        <code loop>
            //on html page -- located in _root_/views/example.html
            <headline>\{\{headline\}\}</headline>
            <info>\{\{info\}\}</info>

            <rows>
                <_loop list>
                    <row>
                        <line>
                            <title>\{\{name\}\}</title>
                            <info>\{\{age\}\}</info>
                        </line>
                    </row>
                </_loop>
            </rows>
        </code>
    
        <code loop>
            //on html page -- located in _root_/views/example.html
            <headline>{{headline}}</headline>
            <info>{{info}}</info>

            <rows>
                <loop list>
                    <row>
                        <line>
                            <title>{{name}}</title>
                            <info>{{age}}</info>
                        </line>
                    </row>
                </loop>
            </rows>
        </code>
    </div>


    <code template>
        <_template src="/global/docs"></_template>
    </code>

</ghost>